@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-size: 16px;
    --h3: rgb(30, 2, 108);
    --h3_hover: rgb(119, 26, 100);
}

h3 {
    color: var(--h3); 
    font-family: 'Playfair Display', serif;
} 

h3:hover {
    color: var(--h3_hover)
}

h3::first-letter{
    font-size: 3rem;
}

h3::after {
    content: '';
    height: 2px;
    background-color: black;
    display: block;
}

img {
    display: block;
    width: 100;
}